
/*general styles*/

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0px;
    padding:0px;
}


a:link , a:visited, a:active{
	color:#444;
	text-decoration: none;
}


nav {
	position:absolute;
	width:200px;
	top:-1px;
	
}

section{
	padding:10px;
}

section > div {
	text-align: justify;
}

section > h1{
	border:1px solid #DDD;
	padding:10px 6px;
	background-color: #558;
	color:#FFF;
	position:sticky;
	top:-1px;
}



article{
	padding:10px;
	width:45%;
	min-width:200px;
	display:inline-block;
	margin:10px auto;
	border: 1px solid #F0F0F0;
	background-color:#F8F8F8;
}

article > h1{
	border:1px solid #DDD;
	padding:10px 6px;
	background-color: #DADAF7;
	position:sticky;
	top:-1px;
}

article > p {
	text-align: justify;
	height:250px;
	overflow:auto;
}

article > div {
	text-align: justify;
	height:250px;
	overflow:auto;
}

article > footer{
	font-size:1.3em;
}

article a:link{
	color: #88F;
}

article input {
	height:24px;
	width:24px;
}

article label {
	margin: 3px;
    padding: 5px;
}

article img {
	max-height:200px;
	max-width:100%;
}

article:hover{
	border: 1px solid #DDD;
	background-color:#FFF;
}


main{
	position:relative;
	margin-left:200px;
	text-align:center;
}

header{
	height:240px;
	text-align:center;
	background-size: cover;
	background-position: center;
	margin:0px;
	text-align:right;
}

header > h1 {
	font-size: 2em;
	margin-top:0px;
	padding-top:180px;
	margin-right:20px;
	color:#FFF;
	text-shadow: 5px 5px 10px #000;
}



#logo{
	text-align:center;
	height:220px;
	margin:8px;
	background-image:url('../images/bucketlist_logo.jpg');
	background-size: cover;
	background-position: center;
}

#hero_index{
	background-image:url('../images/bucketlist.png');
}

#hero_sports{
	background-image:url('../images/sports.jpg');
}



.menu{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.main-menu{
	background-color: #558;
	color:#FFF;
	padding:12px 8px;
	border:1px solid #AAA;
	font-weight:bold;
}

.sub-menu{
	padding:12px 16px;
	background-color: #DADAF7;
	border:1px solid #EEE;
}

.sub-menu:hover, .main-menu:hover{
	border:1px solid #555;
}

.sub-menu::after{
	content:"⇨";
	float:right;
}

